* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  /* border: 1px solid green;*/
  position: relative;
}
.right {
  text-align: right;
}
.right .btn00 {
  margin-left: 10px;
}
header {
  border-bottom: 1px solid #A3A3A3;
  padding: 10px 0;
  text-align: center;
  display: block;
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: #FFFFFF;
  top: 0;
}
header .back {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 8px;
}
header .back img {
  width: 55px;
}
header .logo {
  width: 170px;
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
}
header .menu {
  display: inline-block;
  display: none;
  /*border: 1px solid red;*/
  margin: 0 auto;
  text-align: center;
}
header .menu li {
  display: inline-block;
  padding: 10px;
  /*border: 1px solid blue;*/
  margin: 10px;
}
header .right-menu {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  text-align: right;
  right: 0;
  top: 8px;
}
header .right-menu .linked-text {
  color: #0392EA;
  padding-top: 0px;
  text-decoration: none;
  text-align: center;
  display: block;
}
header .right-menu a {
  text-decoration: none;
  font-weight: bold;
  margin: 5px;
  color: #0392EA;
}
header .right-menu a:hover {
  color: #027bc5;
}
header .right-menu > .group-btn > .btn00 {
  color: #ffffff;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
}
.flex-container .item {
  margin: 20px;
  text-align: center;
  width: 200px;
}
.flex-container .item .btn00 {
  padding: 15px 30px;
}
.flex-container a {
  text-decoration: none;
}
.flex-container a .circle {
  margin: 0 auto 15px auto;
  display: block;
  background-color: #0392EA;
  border-radius: 50%;
  width: 185px;
  height: 185px;
}
.flex-container a .circle img {
  margin-top: 20px;
  width: 140px;
}
.flex-container a h2 {
  font-weight: normal;
  color: #333333;
  font-size: 29px;
  margin-bottom: 10px;
}
.tag {
  display: inline-block;
  border-radius: 4px;
  background-color: #eeeeee;
  padding: 8px 12px;
  margin: 15px auto 0px auto;
  color: #3A3A3A;
}
.sidePanel {
  width: 25%;
  display: block;
  background-color: #FFFFFF;
  float: left;
  box-sizing: border-box;
  padding: 15px;
  margin-top: 96px;
}
.sidePanel h2 {
  margin-bottom: 20px;
}
.sidePanel .level {
  font-weight: bold;
}
.sidePanel .level ul {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
  border-bottom: 1px solid #A3A3A3;
}
.sidePanel .level ul :last-child {
  margin-bottom: 15px;
}
.sidePanel .level ul li {
  margin-top: 10px;
  display: inline-block;
  margin-right: 15px;
}
.sidePanel .level ul li .square {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}
.sidePanel .level ul li .g-flag {
  background-color: #EC462F;
}
.sidePanel .level ul li .y-flag {
  background-color: #FFA100;
}
.sidePanel .level ul li .r-flag {
  background-color: #00c100;
}
.sidePanel .level ul li span {
  font-weight: normal;
}
form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}
form input[type=text],
form input[type=email],
form .control,
form input[type=password] {
  width: 100%;
  border: 1px solid #ced4da;
  padding: 8px 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  font-size: 15px;
}
form textarea {
  width: 100%;
  resize: none;
  height: 60px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #D2D2D2;
  box-sizing: border-box;
  margin-bottom: 5px;
}
form .control {
  height: 35px;
  margin-bottom: 8px;
}
.push {
  margin-top: 120px;
}
.log-box {
  display: block;
  border: 1px solid #dcd8d8;
  margin: 120px auto 0 auto;
  padding: 30px;
  border-radius: 3px;
  position: relative;
  float: none;
  max-width: 520px;
  background-color: #f9f9f9;
}
.log-box label {
  margin-top: 10px;
}
.btn00 {
  display: inline-block;
  padding: 10px 30px;
  background-color: #0392EA;
  border: 1px solid #0392EA;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  margin: 0;
  font-size: 16px;
}
.btn00:hover {
  background-color: #007FDD;
}
.graybtn {
  background-color: #CCCCCC;
  color: #333333 !important;
  margin-top: 10px;
  border: 1px solid #CCCCCC;
}
.graybtn:hover {
  background-color: #9c9c9c;
}
.group-btn {
  /*display: none;*/
}
.orange {
  background-color: #ea8e03 !important;
  color: #FFFFFF !important;
  border: #ea8e03;
}
.orange:hover {
  background-color: #ad6b07 !important;
}
